#appview,#g_body{
	height: 100%;
}
@blue:#5fa3ac;
.page-dashboard{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: #000;
	color:#fff;
	display: flex;
	.page-left,.page-right{
		padding-top: 20px;
		width: 25%;
		box-sizing: border-box;
		display: flex;
		overflow:hidden;
		flex-direction: column;
		.charts-content{
			display: flex;
			flex-direction: column;
			flex: 1;
		}
		.section-content{
			flex:1;
		}
	}

	.section-content.has-child{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.child{
			flex: 1;
		}
	}
}

.flex-layout{
	display: flex;
}
.have-flex{
	flex-grow: 1;
}
.no_shrink{
	flex-shrink: 0;
 }

.page-slick{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: #000;
	color:#fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	.page-main{
		flex:1;
	}
}

.page-center{
	flex:1;
}
.text-blue{
	color:#5fa3ac;
}
.searchbar-content{
	width: 100%;
	height: 100px;
	padding-right: 110px;
	padding-left: 20px;
	background: #777;
	position: relative;
	margin:10px 0px;
	display: flex;
	padding-bottom: 10px;
	flex-direction: row;
	justify-content: start;
	.search-item{
		max-width: 20%;
		margin-right: 20px;
		flex:1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		.title{
			font-size:15px;
			color:@blue;
		}
		.select-box{
			&.double{
				width: 100%;	
			}

			display: flex;
			flex-direction: row;
			.title{
				color:#fff;
				margin-bottom: 10px;
			}
			.left{
				margin-right: 10px;
			}
		}


	}

	.btn-box{
		width: 70px;
		height: 100px;
		position: absolute;
		padding:20px 0 10px;
		top:50%;
		right: 20px;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.search-btn{
			cursor: pointer;
			background: @blue;
			color:#fff;
			font-size: 15px;
			line-height: 30px;
			border-radius: 5px;
			text-align: center;
		}
	}
}

h1{
	font-size: 50px;
	color:#5fa3ac;
	height: 50px;
	width: 100%;
	text-align: center;
}
h3{
	font-size: 30px;
	color:#fff;
	padding:0 10px;
	margin-bottom: 0;
	text-align: center;
	line-height: 50px;
	border-bottom: 3px solid #5fa3ac;
}
h4{
	font-size: 18px;
	color:#fff;
	margin-bottom: 0;
	text-align: center;
	line-height: 40px;
}


h6{
	font-size: 18px;
	color:#949191;
	text-align: center;
	line-height: 40px;
	margin-bottom: 0;
}

.page-dashboard{
	padding-top: 10px;

}
.page-right{
	.child{
		display: flex;
		flex-direction: column;
		.text{
			line-height: 33px;
			text-align: center;
			font-size: 16px;
			color:#949191;
			span{
				color:#fff;
				font-size: 22px;
			}
		}
	}
}

.slick-btn{
	.btn{
		width: 150px;
		height: 10px;
		display: inline-block;
		background: #777;
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			background: #fff;
		}
	}
}
//轮播样式
.slider_content{
	position: relative;
	overflow:hidden;

	.slider_btn{
		position: absolute;
		width: 100%;

	}
	.slider_sec{
		height: 100%;
		float: left;
	}

}
.page-center{
	display: flex;
	flex-direction: column;
	.num-box{
		display: inline-flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;
		max-width: 250px;
	}
	.child{
		padding:0 40px;
		text-align: center;

	}
	.num{
		background: #5fa3ac;
		margin-right: 10px;
		width: 25px;
		height: 40px;
		line-height: 40px;
		list-style: none;
		text-align: center;
		&:last-child{
			margin-right: 0;
		}
	}
	.map{
		padding:20px 40px 0;
		flex:1;
	}
	.bottom-txt{
		text-align: center;
		line-height:50px;
		color:@blue;
		font-size: 20px;

	}
}
// 图表的下划线
.blue_underline{
  height:2px;
  width: 100%;
  background: @blue;
}
// 二次回路单页 content
.content{
  padding:10px 15px;
  box-sizing: border-box;
}
// 二次回路单页 box
.content_box{
  border:2px dot-dash @blue;
  border-radius: 10px ;
}
// 二次回路单页 title
.content_title{
  border-left: 6px solid @blue;
  padding-left: 10px;
  font-size: 15px;
  margin-bottom: 5px;
  line-height: 15px;
  height: 20px;
  text-align: left;
  color:@blue;
  // title 没有border-left
  &.no_border_left{
    border-left:0px;
  }
}



