.ant-table-wrapper {
  background: transparent;
}

.ant-table-tbody > tr, .ant-table-thead > tr{
  border:0;
}
.ant-table-tbody > tr > td, .ant-table-thead > tr > th {
  padding: 5px;
  border:0px;
  background: #000;
  color:#fff;
  border-radius: 0;
}
.ant-table{
  color:#fff;
  font-size: 12px;
}
.ant-table-thead > tr.ant-table-row-hover > td,
.ant-table-tbody > tr.ant-table-row-hover > td,
.ant-table-thead > tr:hover > td,
.ant-table-tbody > tr:hover > td{
  background: #000;
}

// 去除table tbody滚动条
.ant-table-body,.ant-table-fixed-header .ant-table-scroll .ant-table-header{
  &::-webkit-scrollbar{
    width: 0 !important;
  }
}
.content-table{
  padding-left: 15px;
}

// 给每个tr 添加小圆点
.ant-table-tbody > tr{
  position: relative;
  &:after{
    position: absolute;
    width: 5px;
    height: 5px;
    background: @blue;
    display: block;
    top:50%;
    left: -8px;
  }
}