.page-status {
  .status-main {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
  }
  .page-left,
  .page-right {
    width: 25%;
    background: rgba(7, 51, 100, 0.4);
    .tabel,
    .fixedTable {
      .row1,
      .row2,
      .row3 {
        height: 9.1%;
        padding: 8px;
      }
      .row1 {
        background: rgba(6, 34, 80, 0.4);
        .h6 {
          display: inline-block;
          color: @blue;
          font-size: 17px;
        }
      }
      .row2 {
        background: rgba(12, 35, 69, 0.4);
      }
      .row3 {
        background: rgba(17, 27, 61, 0.4);
      }
      .flex {
        flex: 1;
        text-align: left;
        padding-left: 10px;
        align-self: center;
      }
    }
    .tabel {
      height: 580px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
  .label,
  .label2 {
    color: #fff;
    text-align: left;
    padding-left: 5px;
  }
  .label {
    font-size: 20px;
  }
  .labe2 {
    font-size: 18px;
  }
}

.font {
  font-size: 13px;
  color: #fff;
}

.h6 {
  display: inline-block;
  color: #5fa3ac;
  font-size: 17px;
}

.flex {
  flex: 1;
  text-align: left;
  padding-left: 10px;
}

.page-center {
  flex: 1;
}

.center {
  text-align: center;
}

.status-2 .page-right {
  display: flex;
  flex-direction: column;
  .bottom {
    flex: 1;
  }
}

.searchTime {
  padding: 20px 0;
  text-align: left;
  padding-left: 20px;
}

.iconfont {
  color: red;
  height: 20px;
}

.chartsStatus {
  flex: 1;
  .top,
  .bottom {
    width: 100%;
    flex: 1;
  }
}