.page-xmd{
	// padding-top: 10px;
	h1{
		background-size:480px 70px;
		background-position: center center;
	}
	.slider_sec{
		display: flex;
		flex-direction: row;
		width: 100%;
		padding:0 15px;
	}
	.page-main{
		padding-bottom: 10px;
	}
	.slick-page{
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.side-content{
		padding:10px;
		&.spec{
			padding-top: 0;
		}
		width: 30%;
		height: 100%;
		display: inline-block;
  		text-align: center;
	}
	.section-content{
		text-align: left;
	
		.top-title{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.operaiton{
				display: flex;
				justify-content: space-between;
				flex-wrap: nowrap;
				span{
					cursor: pointer;
					display: inline-block;
					border:1px solid rgba(255,255,255,.5);
					font-size:12px;
					width: 25px;
					height: 25px;
					border-radius: 3px;
					display: flex;
					color:rgba(255,255,255,.5);
					justify-content: center;
					align-items: center;
					&:first-child{
						margin-right: 5px;
					}
					&.active{
						color:@blue;
						border-color:@blue;
					}
				}
			}
		}
	}
	.section-content span:not(.arrow){
		font-size:14px;
		color:#5fa3ac;
		line-height: 30px;
	}
	.total-num{
		text-align: left;
		color:#fff;
		font-size: 15px;
		padding-left: 20px;
		height: 70px;
		line-height: 70px;
		.blue-txt{
			padding-right: 5px;
			color:#5fa3ac;
			font-size:30px;
		}
		&.has-bg{
			background-position: top right;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url(../img/xmd.png);
		}
	}
	.center-content{
		
		flex:1;
		height: 100%;
		margin:0 15px;
		display: flex;
		flex-direction: column;
		.top{
			flex:1;
			padding:10px;
			margin-bottom: 15px;
			display: flex;
			flex-direction: column;
			
			.section-content{
				flex:1;
			}
		}
		.bottom{
			flex:1;
			display: flex;
			flex-direction: row;
			.section-content{
				flex:1;
				.content_box;
				padding:10px;
				&:first-child{
					margin-right: 15px;
				}
			}
		};

	}
	.table-box{
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
		.table-content{
			flex:1;
			overflow-y: auto;
		}
	}
	.ant-table-tbody{
		animation: scrollTable  30s linear infinite;
		&:hover{
			animation-play-state:paused;
		}
	}
}