.page-xmd{
	.slider_sec{
		display: flex;
		flex-direction: row;
		width: 100%;
		color:#000;
		background: #fff;
	}
	.side-content{
		width: 33%;
		height: 100%;
		background: #fff;
		display: inline-block;
	}
	.center-content{
		flex:1;
		height: 100%;
	}
}