.page-xmd{
	.slider_sec{
		display: flex;
		flex-direction: row;
		width: 100%;
		padding:0 15px;
	}
	.page-main{
		padding-bottom: 10px;
	}
	.slick-page{
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.side-content{
		padding:10px;
		width: 30%;
		height: 100%;
		display: inline-block;
  		text-align: center;
	}
	.section-content span{
		font-size:20px;
		color:#dcdcdc;
		line-height: 35px;
	}
	.total-num{
		text-align: left;
		color:#fff;
		font-size: 30px;
		padding-left: 20px;
		height: 70px;
		line-height: 70px;
		.blue-txt{
			color:@blue;
		}
	}
	.center-content{
		
		flex:1;
		height: 100%;
		margin:0 15px;
		display: flex;
		flex-direction: column;
		.top{
			flex:1;
			padding:10px;
			margin-bottom: 15px;
			display: flex;
			flex-direction: column;
			
			.section-content{
				flex:1;
			}
		}
		.bottom{
			flex:1;
			display: flex;
			flex-direction: row;
			.section-content{
				flex:1;
				.content_box;
				padding:10px;
				&:first-child{
					margin-right: 15px;
				}
			}
		};

	}
}